#page1 {
    color: #A00000 ;
    clear:both;
    text-align:center;
    padding:100px; 
    background-image: url("../cse2.jpg"); }


/*#page2 {
    color: #A00000 ;
    clear:both;
    text-align:center;
    padding:10px; 
    background-image: url("../cse1.jpg"); }
*/